h1 {
    font-size: 100px;
    font-family: 'Yu Gothic';
}
h2 {
    font-size: 55px;
    font-family: 'Yu Gothic';
    padding-top: 80px;
}

button {
    font-size: 50px;
}

adder-button {
    font-size: 30px;
    width: 250px;
}

a {
    font-size: 40px;
    color: black;
    text-align: center;
}

.flex-row {
    display: flex;
    flex-direction: row;
    background-color: rebeccapurple;
    width: fit-content;
    align-items: start;
    justify-content: center;
    margin: 40px;
}

.flex-row-wrap {
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    background-color: rebeccapurple;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.flex-row-grid {
    display: grid;
}

.flex-column {
    display: flex;
    flex-direction: column;
    background-color: rebeccapurple;
    width: fit-content;
    align-items: center;
    justify-content: center;
    margin: 20px;
}

.form-group {
    display: flex;
    min-width: max-content;
    flex-direction: row;
    margin: 10px;
}

body {
    background-color: white;
}

label {
    font-size: 30px;
    text-align: center;
    width: 150px;
    padding: 25px;
    background-color: darkkhaki;
}

.skill-label {
    font-size:40px;
    width: 200px;
}

.stat-label {
    font-size: 40px;
    width: 200px;
}

.attribute-input {
    font-size: 30px;
    width: 200px;
}

.skill-input {
    width: 300px;
    font-size: 30px;
}

.stat-input {
    font-size: 40px;
    width: 300px;
}

.resistance-input {
    font-size: 40px;
    width: 400px;
}

[class^="spell-"] { /* Selects all elements whose class starts with 'spell-' */
    width: 400px;
}

label.spell-label {
    width: 200px;
    font-size: 50px;
}

label.spell-concentration-label {
    font-size: 41px;
    overflow-wrap: anywhere;
}

.spell-explanation-labels {
    display:flex;
    padding-top: 20px;
    width: fit-content;
}
.spell-explanation-labels > * {
    padding-top: 20px;
    padding-bottom: 30px;
    padding-left: 30px;

}

button.delete-button {
    width:100px;
}

input.spell-concentration-input {
    width: 100px;
    height: 100px;

}

.skill-input { /* This is the checkbox for each skill on the character sheet */
    height: 80px;
    width: 80px;
    border: 20px;
    margin-top: 10px;
    margin-left: 20px;
    accent-color: green;
    align-self: center;
}

.stat-container {
    flex-direction: row;
    flex-flow: row;
    flex: auto;
}

.resistance-container {
    flex-direction: row;
    flex-flow: row;
    flex: auto;
}

.resistance-label {
    font-size: 40px;
    width: 250px;
}

.attribute-label {
    width: 250px;
    font-size: 50px;
}

input {
    font-size: 50px;
    width: 100px;
    text-align: center;
}

.health-input {
    font-size: 60px;
}

.flex-row > input {
    margin-right: 20px;
}

.flex-row-wrap > input {
    margin-right: 30px;
    margin-top: 30px;
}
.flex-row-wrap > label {
    margin-top: 30px;
}